
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: rgb(114,242,148);
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.nav {
    position: fixed;
}


.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}


.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}


.nav a {
    color: black;
    text-decoration: none;
    padding: 7px 15px;
}


.nav a:hover {
    font-weight: bold;
    color: black;
}

.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 1s ease;
    cursor: pointer;
}

